#landing {

    #name {
        font-weight: bold;
        font-size: 40px;
    }
    #me {
        font-size: 30px; 
    }
}

.headshot {
    max-width: 270px;
    max-height: 270px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .parent{
        flex-wrap: wrap-reverse;
    }

    .headshot{
        max-width: 40%;
    }
}